@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700;800&display=swap');

.App{
  font-family: 'Hanken Grotesk', sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.result{
  background: rgb(52,52,230);
  background: linear-gradient(0deg, rgb(53, 53, 235) 0%, rgba(80,110,255,1) 100%);
  width: 20vw;
  border-radius: 15px;
  height: 26vw;
  box-shadow: 7px 21px 26px 0px rgba(237,237,237,1);
}

.result h3{
  text-align: center;
  color: rgb(211, 212, 255);
  font-size: 1.1vw;
  margin-top: 30px;
}

.seventysix{
  background: (47, 47, 214);
  background: linear-gradient(180deg, rgb(47, 47, 214) 0%, rgb(64, 64, 245) 100%);
  width: 50%;
  border-radius: 70px;
  margin-top: 20px;
  color: white;
  height: 9.5vw;
  margin-left: 26%;
}

.seventysix h1{
  text-align: center;
  padding-top: 16%;
  font-size: 3.5vw;
}

.seventysix p{
  text-align: center;
  margin-top: -20%;
  color: rgba(224, 219, 255, 0.534);
  font-size: 0.9vw;
}

.result h2{
  text-align: center;
  font-size: 1.8vw;
  color: white;
}

.result h6{
  margin-left: 15%;
  margin-right: 15%;
  margin-top: -2%;
  color: rgba(235, 235, 235, 0.897);
  font-size: 0.9vw;
  letter-spacing: 0.7px;
  text-align: center;
}

.summary{
  border-radius: 15px;
  width: 20vw;
  box-shadow: 14px 18px 26px 0px rgba(201, 209, 238, 0.24);
  height: 26vw;
}

.summary h3{
  margin-left: 20px;
  font-size: 1.5vw;
  color: rgb(41, 38, 51);
}

.summaryResults{
  display: block;
  margin-top: -10px;
  width: 18vw;
  font-size: 1.3vw;
}

.summaryResults img{
  width: 1.5vw;
}

.group1, .group2, .group3, .group4{
  display: flex;
  margin-left: 10%;
  padding-left: 3%;
  width: 89%;
}

#Reaction, #Memory, #Visual, #Verbal{
  margin-left: 6%;
  margin-top: 12px;
}

#Reaction{
  color: red;
}

#Memory{
  color: rgb(255, 161, 21);
}

#Visual{
  color: blue;
}

#Verbal{
  color: rgb(21, 163, 21);
}

#results{
  margin-left: 23%;
  color: rgb(60, 50, 92);
}

#results2{
  margin-left: 27.5%;
  color: rgb(60, 50, 92);
}

.group1{
  background-color: rgba(255, 187, 187, 0.219);
  border-radius: 15px;
  height: 3vw;
  margin-top: 15px;
}

.group2{
  background-color: rgba(250, 255, 187, 0.219);
  border-radius: 15px;
  height: 3vw;
  margin-top: 15px;
}

.group3{
  background-color: rgba(187, 255, 190, 0.219);
  border-radius: 15px;
  height: 3vw;
  margin-top: 15px;
}

.group4{
  background-color: rgba(187, 191, 255, 0.219);
  border-radius: 15px;
  height: 3vw;
  margin-top: 15px;
}

.group1 h4{
  font-size: 1vw;
  margin-top: 12px;
  color: grey;
}

.group2 h4, .group3 h4, .group4 h4{
  font-size: 1vw;
  margin-top: 12px;
  color: grey;
}

.summary button{
  width: 75%;
  margin-left: 11%;
  margin-top: 10%;
  height: 2.8vw;
  border-radius: 20px;
  border: none;
  color: white;
  background-color: rgba(15, 18, 59, 0.938);
  font-weight: 700;
  cursor: pointer;
  font-size: 1.1vw;
}

.summary button:hover{
  background: rgb(52,52,230);
  background: linear-gradient(0deg, rgb(53, 53, 235) 0%, rgba(80,110,255,1) 100%);
}

@media screen and (max-width: 420px){
  .App{
    display: block;
  }

  .result{
    width: 100.4%;
    height: 45%;
    margin-top: -40px;
  }

  .result h3{
    text-align: center;
    font-size: 5.5vw;
    margin-top: 0px;
    padding-top: 60px;
  }

  .seventysix{
    width: 37%;
    height: 33%;
    margin-left: 32%;
    margin-top: 0px;
  }

  .seventysix h1{
    font-size: 13vw;
  }

  .seventysix p{
    font-size: 4vw;
  }

  .result h2{
    font-size: 7vw;
  }

  .result h6{
    font-size: 4vw;
  }

  .summary{
    width: 100%;
    height: 58.8%;
  }

  .summary h3{
    font-size: 7.5vw;
  }

  .summaryResults{
    height: 60%;
    width: 80%;
    margin-left: 9.3%;
  }

  .group1, .group2, .group3, .group4{
    width: 100%;
    margin-left: 0%;
    height: 20%;
  }

  .group1 img, .group2 img, .group3 img, .group4 img{
    width: 11%;
    margin-left: 3%;
  }

  .group1 h5, .group2 h5, .group3 h5, .group4 h5{
    font-size: 5.5vw;
    padding-top: 7px;
  }

  .group1 h4, .group2 h4, .group3 h4, .group4 h4{
    font-size: 5.5vw;
    padding-top: 7px;
  }

  .summary button{
    width: 79%;
    height: 10%;
    font-size: 5vw;
  }
}